body {
    font-size: 15pt;
    background-color: #111921;
}

.container{
  max-width: 900px;
  margin: auto;
  padding: 5%;
  
}

#colors{
 display: grid;
 grid-template-columns: 1fr 1fr;
 
 grid-gap: 30px;
 padding: 2%;
}
#colors div{
  color: #fff;
  padding: 30px;
  border-radius: 10px;
}
